:root {
/* ╭─── color
   ╰───────────────────────────────── */
    --color-1-cla: #$color1_cla;
    --color-1-osc: #$color1_osc;
    --color-2-cla: #$color2_cla;
    --color-2-osc: #$color2_osc;
    --color-3-cla: #$color3_cla;
    --color-3-osc: #$color3_osc;

    --color-txt-cla: #$color_txt_cla;
    --color-txt-osc: #$color_txt_osc;
    --color-txt2-cla: #$color_txt2_cla;
    --color-txt2-osc: #$color_txt2_osc;

/* ╭─── espaciado
   ╰───────────────────────────────── */
    --space-lo: 10px;
    --space-low: 20px;
    --space-mid: 40px;
    --space-big: 50px;
    --space-hig: 100px;

    --space-lo-p: 1%;
    --space-low-p: 3%;
    --space-mid-p: 5%;
    --space-big-p: 8%;
    --space-hig-p: 13%;
    --space-full-p: 100%;

    --height-lo: 150px;
    --height-low: 200px;
    --height-mid: 300px;
    --height-big: 450px;
    --height-hig: 600px;


    --height-lo-p: 15%;
    --height-low-p: 25%;
    --height-mid-p: 50%;
    --height-big-p: 70%;
    --height-hig-p: 90%;
    --height-full-p: 100%;

    --width-lo: 650px;
    --width-low: 700px;
    --width-mid: 800px;
    --width-big: 1000px;
    --width-hig: 1400px;

    --width-lo-p: 10%;
    --width-low-p: 25%;
    --width-mid-p: 50%;
    --width-big-p: 70%;
    --width-hig-p: 90%;
    --width-full-p: 100%;
/* ╭─── 
   ╰───────────────────────────────── */

/* ╭─── 
   ╰───────────────────────────────── */

/* ╭─── 
   ╰───────────────────────────────── */

}
/* ╭─────────────────────────────────────────────────────────────────   HEADER
   ╰───────────────── */

/* ╭─────────────────────────────────────────────────────────────────   NAV
   ╰───────────────── */

/* ╭─────────────────────────────────────────────────────────────────   MAIN
   ╰───────────────── */

/* ╭─────────────────────────────────────────────────────────────────   SECTION
   ╰───────────────── */

/* ╭─────────────────────────────────────────────────────────────────   ASIDE
   ╰───────────────── */

/* ╭─────────────────────────────────────────────────────────────────   FOOTER
   ╰───────────────── */