/* Hoja de estilos externa de: Ejercicio 9 */
/* RESET CSS
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font:inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}*/

html {
    background-color: #a6c4f79b;
    justify-content: center;
}

body {
    margin: 0;
    padding: 0;
    border: 0;
    background-color: #5474ac;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 28px;
    width: 100%;
    justify-content: center;

}

a {
    text-decoration: none;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 15px;
    /* (position: fixed;)Fijar elemento en (top:,left:) */
    position: fixed;
    top: 0;
    left: 0;
    text-align: center;
    /* justify-content: center; */

    width: 100%;
    padding: 0.8% 2%;
    margin: 0;
    background-color: rgb(16, 32, 84);
    box-shadow: 0px 8px 25px #2f5ba8;
    align-items: flex-start;
    z-index: 1;
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
    color: rgb(244, 204, 204);
    text-shadow: rgba(4, 73, 105, 0.3);
    font-weight: bold;
    padding: 8px 18px;
    min-width: 200px;
    border-radius: 8px;
    transition: background 0.4s, color 0.3s ease, border 0.2 ease;
}

nav ul li a:hover {
    color: rgba(14, 11, 180, 0.766);
    background-color: #b2d2fb57;
    text-shadow: rgba(4, 73, 105, 0.3);
}

nav ul .dropdown li a {
    text-decoration: none;
    color: rgb(244, 204, 204);
    text-shadow: rgba(4, 73, 105, 0.3);
    font-weight: bold;
    padding: 14px 8px;
    min-width: 200px;
    border-radius: 8px;
    transition: background 0.4s, color 0.3s ease, border 0.2 ease;
}

nav ul .dropdown li a:hover {
    color: rgb(14, 11, 180);
    background-color: #b2d2fb8b;
    text-shadow: rgba(4, 73, 105, 0.3);
}

/* ------------------------------ general nav-link */
/* nav a {
    padding: 14px 18px;
    text-decoration: none;
    border-radius: 8px;
}

nav a:link {
    color: #76cece;
}

nav a:visited {
    color: green;
}

nav ul li a:hover {
    color: rgb(14, 11, 180);
    background-color: #b2d2fbf7;
    text-shadow: rgba(4, 73, 105, 0.3);
    padding: 1.2%;
}

nav a:active {
    text-decoration: underline;
    font-weight: bold;
    color: rgb(15, 105, 133);
    } */
    
    
/* ------------------------------------------- header común */
header {
    text-align: center;
    margin: 0;
    margin-top: 0;
    padding: 0;
    border: 0;
    border-bottom-right-radius: 2%;
    color: #b2d2fb87;
    text-shadow: 3px 1px 6px #98b5e7;
    box-shadow: 0px 2px 26px #ff7adc;
    width: 100%;
    height: 100%;
    font-size: 100%;
    background-image: url(../img/fondo_pad_cut_fix1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    /* background-position: bottom; */
    display: block;
    align-items: center;

}
h1 {
    color: #092350;
    text-shadow: #b2b3b4 1px 1px 8px;
    /* flex: 3; */
    /* font-size: 3em; */
}

h2 {
    text-align: center;
    color: #cee0fee5;
    text-shadow: #b2b3b4 1px 1px 8px;
}

p {
    color: #092350e1;
}

hr {
    padding: 0;
    margin: 0;
    width: 100%;
    line-height: 5px;
    color: #545cb1;
}



.dropbtn {
    /* color: white; */
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 180px;
    margin-top: 13px;
    border-radius: 10px;
    /* padding: 1.2%; */
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: #b2d2fbf7;
    background-color: rgba(165, 171, 253, 0.245);
    text-shadow: rgba(4, 73, 105, 0.3);

    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    color: #0d3569e7;
    background-color: #9fc6fab9;
    text-shadow: rgba(4, 73, 105, 0.3);
}

.dropdown:hover .dropdown-content {
    color: #0d3569e7;
    background-color: #9fc6fa68;
    text-shadow: rgba(4, 73, 105, 0.3);
    display: block;
}

/* .dropdown:hover .dropbtn {
    background-color: #3e8e41;
  } */

/* ------------------------------------------------- Animaciones */

.titulo-web {

    margin-bottom: 3%;
    padding-top: 5%;
    padding-bottom: 1%;
    padding-top: 5%;
    text-align: center;
    animation: fadeIn-titulo 4s ease;
    background-image: url(../img/fondo_pad_cut1.jpg);
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    /* background-position: bottom; */
    display: block;
    align-items: center;
}

.banner {
    animation: fadeIn-banner 1.4s ease-in-out;
}

.slideIn {
    animation: 1.5s ease-in-out;
}

.anim-boing {
    animation: anim-boing 1.5s infinite;
}
/* ------------------------------------------------- PRODUCTOS
*/
.titulo-productos h1 {
    text-align: left;
    font-size: 3em;

}

.aside-block {
    display: flex;
}

main {
    background-color: #092350;
    width: 95%;
}

.catalogo {
    background-color: #31528407;
    background: #1e3962;
    border: solid #26497d 1px;
    background-image: url(../img/back_map.png);
    background-repeat: repeat-y;
    background-size: contain;
    padding: 20px;
    margin: auto;
    width: 95%;
    /* background-color: #041433; */
    border-radius: 15px;
    border-bottom-left-radius: 80px;
    border-bottom-right-radius: 80px;
    box-shadow: 1px 1px 45px #6d97e0d7;
    display: block;

}

#psx-logo {
    background-image: url(../img/psx_name.png);
    background-repeat: no-repeat;
    background-position: center;
    align-items: center;
    background-color: #0923502f;
}

#nintendo-logo {
    background-image: url(../img/nintendo-vector-logo-400x400.png);
    background-repeat: no-repeat;
    background-position: center;
    align-items: center;
    justify-content: center;
    background-color: #0923502f;
}

#psx {
    padding: 5%;
    /* padding: 10px; */
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #0923502f;
    box-shadow: 1px 2px 45px #79b1fae4;
    border: solid rgba(31, 65, 116, 0.752) 1px;
    border-radius: 15px;
    background-image: url(../img/back_map.png);
    background-repeat: repeat-y;
    background-size: contain;
}

#nintendo {
    padding: 5%;
    /* padding: 10px; */
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background: #1e3962be;
    box-shadow: 1px 1px 45px #8c3c3c56;
    border: 1px solid #395c8f;
    border-radius: 15px;
    border-bottom-left-radius: 80px;
    border-bottom-right-radius: 80px;
    background-image: url(../img/back_map.png);
    background-repeat: repeat-y;
    background-size: contain;
}
#nintendo:hover{
    box-shadow: 1px 8px 25px #ed6868c5;
}
article img {
    width: 70%;
}

.banner-nintendo {
    /* background-image: url(../img/nintendo-vector-logo-400x400.png); */
    /* background-repeat: no-repeat;
    background-size: cover; */
    position: fixed;
    top: 500px;
    left: 100px;
    width: 100%;
    height: 300px;
    flex: 1;
}

#psx article p a {
    text-decoration: none;
    color: #9a46ce
}

#nintendo article p a {
    text-decoration: none;
    color: #a62af4
}

.producto {
    gap: 10px;
    padding: 15px;
    margin: 10px;
    color: white;
    background-color: #0923509a;
    border: solid rgb(31, 65, 116) 1px;
    border-radius: 22px;
    box-shadow: 3px 8px 20px #193f809a;
    width: 2%;
    text-align: center;
    /* position: relative para que sus hijos puedan tener absolute */
    position: relative;
    /* Valores para transiciones de transform */
    transition: transform 0.6s ease, background-color 0.5s ease, border 0.4s ease, cursor 0.3s ease;
}

.precio {

    transition: transform 0.6s ease, color 0.8s ease;
}

.producto img {
    border-radius: 20px;
}

.producto:hover {
    transform: scale(1.02);
    background-color: #b8d2f5b6;
    box-shadow: 10px 10px 20px #559bf6b9;
    border-color: #45caff;
    cursor: progress;
    color: #092350;
}

.producto .precio:hover {
    transform: scale(1.5);
    cursor: pointer;
    color: #174798;
}

button {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #45ff5b;
    border-radius: 10px;
    padding: 5px;
}

button .reservar {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #ff4b45;
    border-radius: 10px;
    padding: 5px;
}

button .comprar {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #ff45fc;
    border-radius: 10px;
    padding: 5px;
}

/* ---------- PRODUCTOS
*/
/* ------------------------------------------------- INDEX
*/
.cuerpo {
    padding: 20px;
    margin: auto;
    background: #1e3962;
    border: solid #26497d 1px;
    background-image: url(../img/back_map.png);
    background-repeat: repeat-y;
    background-size: contain;
    /* overflow: visible; */
    width: 90%;
    align-items: center;
    color: rgb(174, 174, 174);
    text-shadow: #8299af 1px 1px 2px;
    box-shadow: 2px 2px 50px #b0c2df;
    border-radius: 10px;
    flex-wrap: wrap;
}

.cuerpo div {
    flex: 1;
    padding: 2%;
    margin: 2%;
    /* border: solid red 1px; */
}

.cuerpo h2,
h3 {
    text-align: center;
}

.cuerpo p {

    color: rgb(176, 175, 175);
}

.cuerpo .imagen_dest {
    flex: 3;
    border: solid rgb(0, 255, 42) 1px;
    border-radius: 20px;
    box-shadow: 50px 10px 20px #acacace4;
}

.cuerpo .quien_somos {
    flex: 3;
    text-align: center;
    border: solid rgb(75, 98, 180) 1px;
    box-shadow: 3px 5px 40px #acacace4;
    border-radius: 20px;
    /* border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%; */
    background-color: #14284bec;
    margin-top: 10%;
    margin-bottom: 10%;
    padding-bottom: 6%;
    background-image: url(../img/ByN_pad_cut.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.cuerpo .nos_dedicamos {
    /* flex-wrap: wrap;
    display: block; */
    border: solid rgb(108, 125, 196) 1px;
    box-shadow: 1px 2px 40px #e7b1fae4;
    border-radius: 15px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../img/psx_buttons_txt.jpg);
    background-attachment: fixed;
    overflow: hidden;
    height: 720px;
    padding-left: 5%;
    margin-bottom: 2%;
    padding-bottom: 10%;
    position: relative;
}

.nos_dedicamos-spdown {
    background-image: url(../img/spider-man-down.png);
    opacity: .98;
    background-repeat: no-repeat;
    filter: drop-shadow(0 0 40px rgba(98, 63, 147, 0.849));
    background-size: 10vw;
    width: 200px;
    background-position: top;
    position: absolute;
    right: 0;
    padding: 0;
    /* overflow: hidden; */
    /* z-index: 0; */
}

.bounce {
    animation: bounce 8s infinite;
    height: 320px;
    width: 250px;
    margin: 0;
    padding: 0;

}
.slide-fly {
    animation: slide-fly 8s infinite forwards;

}

.cuerpo .servicios {
    border: solid rgb(108, 125, 196) 1px;
    box-shadow: 1px 2px 40px #e7b1fae4;
    border-radius: 15px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../img/nintendo_neon_cut_filter.jpg);
    background-attachment: fixed;
    margin-top: 2%;
    margin-bottom: 10%;
    padding: 4%;
    position: relative;
}

.cuerpo .servicios h5 {
    color: rgb(255, 183, 235);
}
.ventajas {
    height: 450px;
    width: auto;
    position: absolute;
    top: 20px;
    right: 40px;
}

.cuerpo .servicios p {
    color: rgb(221, 221, 221);
}

.cuerpo .servicios li {
    list-style-type: none;
    border-radius: 15px;
}
.servicios-spdown-mario {
    background-image: url(../img/mario-fly.png);
    background-repeat: no-repeat;
    background-size: cover;
    filter: drop-shadow(0 0 40px rgba(98, 63, 147, 0.849));
    /* background-size: 10vw; */
    width: 280px;
    height: 250px;
    background-position: bottom;
    position: absolute;
    left: 0px;
    bottom: 10px;
    opacity: 0.9;
    /* position: absolute;
    bottom: 10px;
    left: 0; */
    padding: 10px;
    /* overflow: hidden; */
    /* z-index: 0; */
}
.titulo-pie {
    /* background-image: url(../img/mario-star.png); */
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    background-color: #14265697;
    box-shadow: 0px 0px 100px #b1cdfa92;
    border-radius: 50%;
    width: 45%;
    height: 150%;
    align-items: center;
    margin: auto;
}

.titulo-pie h1 {
    text-align: center;
    color: #96b4e8e5;
    text-shadow: #b2b3b4 1px 1px 8px;
    transition: transform 0.6s ease, color 0.8s ease, text-shadow 0.5s ease;
}

.titulo-pie h1:hover {
    color: #bed4fae5;
    text-shadow: #959696 1px 1px 5px;
    transform: scale3d(1.6, 1.2, 1.6);
    transform-style: preserve-3d;
}
.titulo-pie img {
    filter: drop-shadow(0 0 20px rgba(235, 221, 26, 0.428));
    opacity: 0.75;
    width: 50px;
    transition: transform 3s ease, rotate 3s ease, opacity 2s ease, filter 1.6s ease;
}
.titulo-pie img:hover {
    filter: drop-shadow(0 0 70px rgba(235, 221, 26, 0.849));
    transform: scale(3);
    rotate: 720deg;
    opacity: 1;
}

/* ------------------------------------------------- footer común */
footer {
    display: flex;
    gap: 20px;
    background-color: #092350b4;
    border-top-left-radius: 40%;
    border-top-right-radius: 40%;
    text-align: center;
    justify-items: center;
    align-items: center;
    height: 20%;
    padding: 1%;
}

/* unvisited link */
footer a:link {
    text-decoration: none;
    color: #354747;
    border-radius: 8px;
    padding: 15px;
}

footer p {
    padding-left: 15px;
    padding-right: 15px;
}

.derechos {
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    justify-items: center;
    align-items: center;
}


footer .social a {
    height: 40px;
    width: 40px;
    display: flex;
    background-image: url(../img/git_circl.png);
    background-repeat: no-repeat;
    background-size: cover;
    flex: 1;
}

footer .social a:hover {
    background-image: url(../img/git_circl.gif);
    text-decoration: none;
    font-weight: bold;
    color: #b0d2d2;
    text-shadow: 2px 1px 4px rgba(23, 153, 214, 0.616);
    padding: 11px;

}

footer .pie_pag a:hover {
    text-decoration: none;
    font-weight: bold;
    color: #b0d2d2;
    text-shadow: 2px 1px 4px rgba(23, 153, 214, 0.616);
    padding: 11px;

}

/* ------------------------------------------------- Animaciones */
/* Crear animación fadeIn */
@keyframes fadeIn-titulo {
    from {
        opacity: 0;
    }

    to {
        opacity: 0.94;
    }
}

@keyframes fadeIn-banner {

    from {
        opacity: 0.8;
        transform: translateY(-200px);
    }

    to {
        opacity: 1;
        transform: translateY(-50);
    }
}

@keyframes bounce {

    0%,
    100% {
        transform: translateY(-100px);
    }

    30% {
        transform: translateY(-530px);
    }

}
@keyframes slide-fly {

    0%,
    100% {
        transform: translateX(-600px);
    }

    100% {
        transform: translateX(2000px);
    }

}

@keyframes anim-boing {

    0%,
    100% {
        transform: translateY(0px);
    }

    40% {
        transform: translateY(-20px);
    }

}
