/* Hoja de estilos externa de: Ejercicio 22 */
/* Hoja de estilos externa de: Ejercicio 21 */

/* 1º: declarar las capas que se van a usar */
@layer reset, base, layout, components, utilities;

/* 2º: Reset */
@layer reset {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    a {
        text-decoration: none;
        color: inherit;
    }
}
    /* 3º: base - variables y estilos generales */
    @layer base {
        :root {
            --font-primary: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            --color-bg: #bbf2fc;
            --color-text: #333;
            --color-acent: #c363ff;
            --color-dark: #3d1348;
            --spacing-md: 1.5rem;
            --spacing-lg: 3rem;
            --size-prod: 300px;
            --size-img: 250px;
            --radius: 10px;
        }
        body {
            font-family: var(--font-primary);
            background: var(--color-bg);
            color: var(--color-text);
            line-height: 1.6;
        }
    }

    /* 4º layout - header, footer, hero*/
    @layer layout {
        header {
            background: var(--color-acent);
            color: rgb(191, 189, 189);
            padding: var(--spacing-md);
            text-align: center;
        }
        header nav {
            margin-top: 1rem;
        }
        header nav a {
            margin: 0 1rem;
            font-weight: bold;
            color: aliceblue;
            padding: 1%;
            border-radius: var(--radius);
        }
        header nav a:hover {
            background-color: #cfd0d3bb;
            color: #661979;
        }
        .hero {
            background: linear-gradient(to right, #63c3ff, #ad6aff);
            color: white;
            padding: var(--spacing-lg);
            text-align: center;
        }
        .catalogo {
            width: 90%;
            height: auto;
            display: flex;
            flex-direction: row;
            justify-content: center;
            gap: 20px;
            padding: var(--spacing-md);
            align-items: center;
            justify-items: center;
        }
        .producto {
            /* flex: 1; */
            width: var(--size-prod);
            height: var(--size-prod);
            align-items: center;
            justify-items: center;
            justify-content: center;
            text-align: center;
            background-color: #ad6aff;
            border-radius: var(--radius);
        }
        .img-prod-1 {
            border: solid 1px red;
            width: 250px;
            height: 200px;
            border-radius: var(--radius);
            background-image: url(../../Ejercicio4/img/onion.png);
            text-align: center;
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
        }
        .img-prod-2 {
            width: var(--size-img);
            height: 200px;
            border-radius: var(--radius);
            background-image: url(../../Ejercicio4/img/onion.gif);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }
        .img-prod-3 {
            width: var(--size-img);
            height: 200px;
            border-radius: var(--radius);
            background-image: url(../../Ejercicio4/img/onion.ama.gif);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }

        footer {
            background: var(--color-dark);
            color: white;
            padding: var(--spacing-md);
            text-align: center;
            width: 100%;
        }
    }
    /* 5º Componentes - botones */
    @layer components {
        .btn {
            display: inline-block;
            background: white;
            color: var(--color-acent);
            padding: 0.75rem 1.5rem;
            margin-top: 1rem;
            border-radius: var(--radius);
            font-weight: bold;
            transition: transform .3s, background .3s;
        }
        .btn:hover {
            transform: scale(1.05);
            background: #a2f78a;
        }
    }
    /* 6º Utilidades - Clases pequeñas y reusables */
    @layer utilities {
        .text-center {
            text-align: center;
        }
        .mt-lg {
            margin-top: var(--spacing-lg);
        }
    }



.copyrigth {
    color: #cfd0d3;
    background-color: #300747d6;
    padding: 10px 0px;
    width: 100%;
    position: fixed;
    bottom: 0;
}
.a_inicio a:hover {
    background-color: #ededffbd;
    text-shadow: #45caff 1px 1px 1px;
    font-weight: bold;
}
