/* Hoja de estilos externa  creada con: html_build.sh 

   Author: DShtml
*/
/* Estilo body */
body {
    font-family: Arial, Helvetica, sans-serif;
	margin: 0;
    display: flex;
    flex-direction: row;
}
.sidebar {
    background: #b33f27;
    color: white;
    width: 250px;
    /* 100vh ==100% del tamaño de la ventana */
    height: 100vh;
    padding: 20px;
    position: fixed;
}
.sidebar h2 {
    text-align: center;
}
/* Estilo nav */
nav ul {
    list-style: none;

}
nav ul li {
padding: 10px 0;
}
nav ul li a {
    text-decoration: none;
    color: white;
    background: #b33f27;
    font-weight: bold;
    padding: 10px 15px;
    transition: color 0.3s ease;
    border-radius: 5px;
    display: block;
    padding: 10px;
}
nav ul li a:hover {
    color: #f4c9c0;
    background: #d76650;
}
main {
    margin-left: 270px;
    padding: 20px;
}

@media (max-width:768px) {
    body {
        flex-direction: column;
        text-align: center;
    }
    .sidebar {
        width: 100%;
        height: auto;
        text-align: center;
        position: relative;
        padding: 20px 0;
    }
    nav ul {
        display: flex;
        justify-content: center;
        gap: 10px;
        padding: 0;
    }
    nav ul li {
        display: inline;
    }
    main {
        margin-left: 0;
    }
}
/* 
.end_menu nav {
    color: #012554d6;
    text-shadow: rgba(57, 63, 100, 1);
    padding: 0.2% 0.2%;
    margin: 0;
    text-align: center;
    align-items: center;
    font-weight: 20px;
    border-radius: 6px;
    width: 100%;
}
/* 
.a_inicio a:hover {
    color: #056ffa;
    font-weight: bold;
    background-color: #ededffbd;
    text-shadow: #45caff 1px 1px 1px;
} */

/* .copyrigth {
    color: #c3c9e3;
    background-color: #011733d6;
    padding: 10px 0px 6px 0px;
} */
/*
------------------------------------- Estilo nav Footer */
