/* Hoja de estilos externa de: Ejercicio14 grig-template-areas*/

:root {
    --primario:#b33f37;
    --secundario:#d77866;
    --oscuro:#4d1b11;
    --claro:#f7f7f7;
    --espacio20:30px;
}

body {
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: var(--claro);
    color: #222;
}

.grid-contenedor {
    display: grid;
    grid-template-columns: 200px 1fr 1fr;
    grid-template-rows: auto auto 1fr 1fr auto;
    grid-template-areas: 
    "header header header"
    "banner banner banner"
    "nav main sidebar"
    "galeria galeria galeria"
    "footer footer footer ";
    gap: var(--espacio20);
    padding: var(--espacio20);
    min-height: 100vh;
    border-radius: 8px;
}

header {
    grid-area: header;
    background: var(--primario);
    color: aliceblue;
    padding: var(--espacio20);
    text-align: center;
    animation: fadeIn 1s ease-in-out;
    border-radius: 8px;
}

.subtitulo {
    font-weight: 300;
    margin-top: 5px;
}

.banner {
    grid-area: banner;
    background: url('../img/casa-banner.png') no-repeat center;
    background-size: cover;
    height: 250px;
    display: flex;
    justify-content: center;
    animation: fadeIn 1s ease-in-out;
    border-radius: 8px;
}

.banner-text {
    font-size: 1.3rem;
    color: white;
    background-color: rgba(82, 82, 82, 0.5);
    padding: 30px var(--espacio20);
    animation: slideIn 2s ease-in-out;
    text-align: center;
    border-radius: 8px;
}



nav {
    grid-area: nav;
    background: var(--oscuro);
    color: aliceblue;
    padding: var(--espacio20);
    animation: fadeIn 1s ease-in-out;
    border-radius: 12px;
}
nav ul {
    list-style: none;
    padding: 0;
}
nav ul li {
    margin-bottom: 10px;
}
nav ul li a{
    color: aliceblue;
    text-decoration: none;
    font-weight: bold;
}
nav ul li a:hover {
    color: var(--secundario);
}


main {
    grid-area: main;
    background: aliceblue;
    padding: var(--espacio20);
    box-shadow: 0 0 25px rgba(0, 0, 0, .1);
    border-radius: 10px;
}
main img {
    margin: 10px 0;
    max-width: 100%;
    border-radius: 20px;
}




.sidebar {
    grid-area: sidebar;
    background: var(--secundario);
    padding: var(--espacio20);
    color: aliceblue;
    border-radius: 8px;
}
.sidebar ul {
    padding-left: 15px;
    border-radius: 18px;
}


.galeria {
    grid-area: galeria;
    background: var(--primario);
    padding: var(--espacio20);
    color: aliceblue;
    border-radius: 8px;
}
.galeria-img {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin-top: 10px;
    justify-content: center;
}
.galeria-img img {
    width: 48%;
    max-width: 300px;
    border-radius: 8px;
    animation: fadeIn 1.5s ease;
}


footer {
    grid-area: footer;
    background: var(--oscuro);
    color: aliceblue;
    border-radius: 8px;
    padding: 15px;
    text-align: center;
}
footer p, footer a {
    text-decoration: none;
    color: antiquewhite;
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}
@keyframes slideIn {
    from {transform: translateX(-100px); opacity: 0;}
    to {transform: translateX(0px); opacity: 1;}
}
/* 
.end_menu nav {
    color: #012554d6;
    font-weight: 20px;
    text-shadow: rgba(57, 63, 100, 1);
    text-align: center;
    padding: 0.2% 0.2%;
    margin: 0;
    border-radius: 6px;
    width: 100%;
}


.copyrigth {
    color: #c3c9e3;
    background-color: #011733d6;
    padding: 10px 0px 6px 0px;
    width: 100%;
    position: fixed;
    bottom: 0;
}
.a_inicio a:hover {
    background-color: #ededffbd;
    color: #056ffa;
    font-weight: bold;
    text-shadow: #45caff 1px 1px 1px;
} */
